{% extends "base.html" %}

{% block content %}

<h1>{{ poll.question }} - Poll</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="/polls/{{ poll.id }}/vote/" method="post">
  {% csrf_token %}

  {% for choice in poll.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice }}</label><br />
  {% endfor %}

  <p>Couldn't find an option you liked?</p>
  <p><label>Just add it here:</label> <input input="text" name="newChoice" /></p>
  <input type="submit" value="Vote" />
</form>

{% endblock %}
