{% extends "base.html" %}

{% block content %}

<h1>Here's a boring poll "app"</h1>
<p>This is our sorta nice looking re-implementation of the <a href="https://docs.djangoproject.com/en/1.3/intro/tutorial01/">"Writing your first Django app"</a> tutorial. We know it's not much, but it works for us.</p>
<p>Yes. We know it's boring. We're developers, not people with ideas.</p>

<h2>Here's a list of the 5 latest polls</h2>
{% if latest_poll_list %}
    <ul>
    {% for poll in latest_poll_list %}
        <li><a href="/polls/{{ poll.id }}/">{{ poll.question }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

<h2>Here's a form so you can create your own poll</h2>
<p>Want to make this page a little less boring? Create a poll of your
  own! Please do. We have no content and we're too simple minded to
  create our own. We can promise cookies and well-wishes if you do!!!</p>
<p class="finePrint">We were totally kidding about the cookies though.</p>
<br />

{% if error_message %}<p><strong class="error">{{ error_message }}</strong></p>{% endif %}

<form action="/polls/create/" method="post">
  {% csrf_token %}
  <label>Question:</label>
    <input type="text" name="question" /><br />
  <label>Choice:</label>
    <input type="text" name="choice" /><br />
  <br />
  <input type="submit" value="Create & Vote" />
</form>

{% endblock %}
