{% extends "base.html" %}

{% block content %}
<h1>About this "app"</h1>

<p>This isn't really much of a web application - it's more like a
  project containing disparate pluggable Django "apps". This page is
  actually an app all on its own - it's probably the most portable
  (or applicable) module of this project as we're probably porting it
  over to our final project.</p>

<p>We're actually very boring and unimaginative people - hence the
  lack of content. If you've got any ideas for project
  ideas, please don't hesitate to email us at 
  <a href="mailto:cmpt470-team-awesome@sfu.ca">cmpt470-team-awesome@sfu.ca</a></p>

<p>Anyways, we've got a few apps here. Right now, there's 
  this <a href="/about">about</a> page, the <a href="/admin">admin</a>
  site, and a <a href="/polls">polls</a> app, with a few more (hopefully)
  on the way.</p>
	
{% endblock %}
