/* CSS for our Django Admin base page */

#footerBar {
    position: fixed;
    height: 37px; 
    width: 100%;
    bottom: 0;
    background: #417690;
    color: #f4f379;
    overflow: hidden;
}

#leftFoot {
    padding: 7px;
    font-size: 14px;
    color: #f4f379;
    position: absolute;
}

#rightFoot {
    float: right;
    padding-top: 7px;
    padding-right: 7px;
    display: inline;
    font-size: 14px;
    color: #f4f379;
}

#leftFoot a, #rightFoot a {
    color: #FFF;
}

#leftFoot a:hover, #rightFoot a:hover {
    color: #FFF;
    text-decoration: underline;
}
