/* Mostly borrowed from the Django Admin CSS sheet, though fixed for our base sheet. */

html {
    height: 100%;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    background: white;
}

a {
    text-decoration: none;
    color: #0a7ed7;
}

a:hover {
    text-decoration: underline;
}

.finePrint {
    font-size: 6px;
}

.error {
    color: red;
}

#frame {
    position: relative;
    min-height: 100%;
    width: 100%;
}

#header {
    position: absolute;
    height: 37px;
    width: 100%;
    top: 0;
    background: #417690;
    color: #f4f379;
    overflow: hidden;
}

#leftHead {
    padding: 8px;
    font-size: 18px;
    position: absolute;
}

#rightHead { 
    padding: 10px;
    float: right;
    font-size: 14px;
}

#content {
    padding: 37px;
}

#footer {
    position: absolute;
    height: 37px; 
    width: 100%;
    bottom: 0;
    background: #417690;
    color: #f4f379;
    overflow: hidden;
}

#leftFoot {
    position: absolute;
    padding: 10px;
    font-size: 14px;
}

#rightFoot {
    float: right;
    padding: 10px;
    display: inline;
    font-size: 14px;
}

#header a, #footer a {
    color: white;
}

#header a:hover, #footer a:hover {
    color: white;
    text-decoration: underline;
}
