<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/static/style.css" />
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <title>Team Awesome Demo Site</title>
</head>

<body>
<div id="frame">
  
  <div id="header">
    <span id="leftHead">
      <a href="/">Team Awesome</a> Django Evaluation
    </span>
    <span id="rightHead">
      <a href="/">Home</a> |
      <a href="/about/">About</a> | 
      <a href="/writeup/">Writeup</a> |
	  <a href="https://docs.google.com/presentation/pub?id=1PlHPK2eg71o_OgaF3P_U2tMauLHQhj9IFxSj-1xpPcE"
	  >Presentation</a> |
      <a href="/admin/">Admin</a> |
      <a href="/404/">404</a> |
      <a href="/500/">500</a> |
      <a href="/polls/">Polls</a> |
	  <a href="/blog/">Blog</a>   
      </span>
    </div>
  
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>

  <div id="footer">
    <span id="leftFoot">
      <a href="javascript:history.go(-1)">Back</a> | <a href="/">Home</a> | <a href="javascript:history.go(1)">Forward</a>
    </span>
    <span id="rightFoot">
      By <a href="https://github.com/randytarampi"
      >Randy
      Tarampi</a>, <a href="https://github.com/FaceBones"
      >Steven Evans</a>
      & <a href="https://github.com/clocke">Conrad
      Locke</a> | As pulled
      from <a href="https://github.com/randytarampi/awesomeTechEval"
      >GitHub</a>
    </span>
  </div>

</div>
</body>
</html>
