{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
{% load dajaxice_templatetags %}

<!DOCTYPE html>
<html>
{% block head %}
<head>
  <link rel="stylesheet" type="text/css"
		href="{{STATIC_PREFIX}}reset.css" />
  <link rel="stylesheet" type="text/css"
		href="{{STATIC_PREFIX}}style.css" />
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <title>{% block title %} Team Awesome Demo Site {% endblock %}</title>
  <script src="{{STATIC_PREFIX}}jquery-1.7.2.min.js"
  type="text/javascript" charset="utf-8"></script>
  <script src="{{STATIC_PREFIX}}jquery.ba-serializeobject.min.js"
  type="text/javascript" charset="utf-8"></script>
  <script src="{{STATIC_PREFIX}}dajax/jquery.dajax.core.js"
  type="text/javascript" charset="utf-8"></script>
  {% dajaxice_js_import %}
  {% block extracss %}{% endblock %}
  {% block extrajs %}{% endblock %}
  {% block headExt %}{% endblock %}
</head>
{% endblock %}
{% block body %}
<body>
{% block container %}
<div id="container">
  <div id="header">
    {% block header %}
    <span id="leftHead">
      {% block branding %}<a href="{% url index %}">Team Awesome</a>
      Django Evaluation{% endblock %}
    </span>
    <span id="rightHead">
      <a href="{% url index %}">Home</a> |
      <a href="{% url about_index %}">About</a> | 
      <a href="{% url writeup %}">Writeup</a> |
      <a href="https://docs.google.com/presentation/pub?id=1PlHPK2eg71o_OgaF3P_U2tMauLHQhj9IFxSj-1xpPcE"
	  >Presentation</a> |
      <a href="/admin/">Admin</a> |
      <a href="/404/">404</a> |
      <a href="{% url 500 %}">500</a> |
      <a href="{% url poll_index %}">Polls</a> |
      <a href="/blog/">Blog</a> |
      <a href="{% url testDajax_index %}">Dajax Test</a> |
      <a href="{% url testDajaxice_index %}">Dajaxice Test</a>
    </span>
    {% endblock %}
    </div>

  {% if posts %}
  <div id="sidebar">
    {% block sidebar %}
    {% endblock %}
  </div>
  {% endif %}

  <div id="content">
    {% block content %}
    {% endblock %}
  </div>

  <div id="footer">
	{% block footer %}
    <span id="leftFoot">
      <a href="javascript:history.go(-1)">Back</a> | <a href="/">Home</a> | <a href="javascript:history.go(1)">Forward</a>
    </span>
    <span id="rightFoot">
      By <a href="https://github.com/randytarampi"
      >Randy
      Tarampi</a>, <a href="https://github.com/FaceBones"
      >Steven Evans</a>
      & <a href="https://github.com/clocke">Conrad
      Locke</a> | As pulled
      from <a href="https://github.com/randytarampi/awesomeTechEval"
      >GitHub</a>
    </span>
	{% endblock %}
  </div>
</div>
{% endblock %}
</body>
{% endblock %}
</html>
