{% extends "base.html" %}

{% block content %}
<h1>CMPT 470 - Group 17: Team Awesome Tech Evaluation</h1>
<p>We're still working on this, even though it was due a while back - 
  we finish what we start. If you're interested in what was submitted,
  you can find the source tagged as 
  '<a href="https://github.com/randytarampi/awesomeTechEval/tree/final">final</a>'
  at our <a href="https://github.com/randytarampi">GitHub</a> repo.</p>
<p>Feel free to explore - we don't have much. 
  We've got a semi-interesting <a href="{% url poll_index %}">polls</a> 
  app, a kick-ass (but fairly standard) web <a href="/admin/">admin
  </a> interface and a half finished <a href="/blog/">blog</a>. Have a
  look at the links in the corners (in white).</p>
<p>If this wasn't the page you were looking for, you can
  go <a href="javascript:history.go(-1)">back</a> to where 
  you came from, or to the <a href="http://cmpt470.csil.sfu.ca">
  CMPT 470 gateway</a> or
  the <a href="http://www2.cs.sfu.ca/CourseCentral/470/apike/">CMPT
  470 course website</a>.</p>
{% endblock %}
