{% extends "base.html" %}

{% block title %}
{{ poll.question }} - Poll | Team Awesome Demo Site
{% endblock %}

{% block content %}

<h1>{{ poll.question }} - Poll</h1>

{% if error_message %}<p><strong class="error">{{ error_message }}</strong></p>{% endif %}


<form action="{% url poll_vote poll.id %}" method="post">
  {% csrf_token %}

  {% for choice in poll.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice }}</label><br />
  {% endfor %}

  <p>Couldn't find an option you liked?</p>
  <label>Just add it here:</label>
	<input input="text" name="newChoice" /><br />
	<br />
  <input type="submit" value="Vote" />
</form>

{% endblock %}
