html {
    height: 100%;
    width: 100%;
    min-width: 1024px;
}

body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    background: white;
}

a {
    text-decoration: none;
    color: #0a7ed7;
}

a:hover {
    text-decoration: underline;
}

h3 { 
    margin-right: 30px;
    display: inline;
}

.dashboard #content {
    width: auto;
}

.finePrint {
    font-size: 6px;
}

.error, .obviousError, #personError {
    color: red;
}

.hideIt {
    display: none;
}

.pollRelated {
    width: 250px;
    margin-bottom: 14px;
}

.pollRelated input[type="text"] {
    width: 100%;
}

.main { 
    margin-left: 25px;
    margin-top: 30px;
}

.time { 
    font-size: 0.8em;
    margin-top: 2px;
}

.body { 
    font-size: 1.1em; 
    margin-top: 2px;
}

.commentlink { 
    text-align: right;
}

.step-links a { 
    font-size: 0.89em;
}

.title {
    font-size: 1.4em;
    margin-top: 20px;
    border-bottom: 1px solid #ccc;
    padding-left: 4px;
    margin-left: 5px;
}

.messages { 
    margin-left: 20px;
}

.pagination { 
    margin-top: 20px; 
    margin-left: -20px; 
}

#frame, #container {
    min-height: 100%;
    position: relative;
}

#header {
    position: relative;
    height: 37px;
    width: 100%;
    top: 0;
    background: #417690;
    color: #f4f379;
    overflow: hidden;
}

#leftHead {
    position: absolute;
    padding: 6px;
    font-size: 18px;
}

#rightHead { 
    float: right;
    padding: 9px;
    font-size: 14px;
}

#content {
    margin: 18px 37px;
    padding-bottom: 37px;
}

#footer {
    position: absolute;
    height: 37px;
    width: 100%;
    bottom: 0;
    padding: 0;
    background: #417690;
    color: #f4f379;
    overflow: hidden;
}

#leftFoot {
    position: absolute;
    padding: 9px;
    font-size: 14px;
}

#rightFoot {
    float: right;
    padding: 9px;
    font-size: 14px;
}

#header a, #footer a {
    color: white;
}

#sidebar {
    float: right;
    border: 1px dotted #ccc;
    padding: 4px;
}